<div class="projects">
<h1 class="titleTrack"> Projects </h1>
            <div class="row">

                <div class="col-md-6 col-md-offset-3 , col-xs-12 text-center">
                      <div class="desc">
                        <div class="wow fadeInLeft" data-wow-delay= ".5s" id = "first"> 
                        <h3 class = "ProjTitle"> JeremyGHolland blog</h3>
            <a href="https://github.com/jeremygholland/jeremyghollandBlog"><img src="images/blog.png" class = "responsive-img" ></a>
                        <p class = "projDesc"> This is MEAN stack blogging app which currently hosts my baseball related blog posts. It allows for people to view current posts and comments related to individual posts, while also allowing for registered users to add posts and comments. This blog uses passport for verification and uses Materialize.css for its styling. </p>
            </div>
            </div>
            </div>




                <div class="col-md-6 col-md-offset-3  col-xs-12 text-center">
                    <div class="desc">
                        <div class="wow fadeInRight" data-wow-delay= ".5s"> 
                        <h3 class = "ProjTitle"> MarvelAPI</h3>
            <a href="https://github.com/jeremygholland/marvelAPI"><img src="images/marvel2.png" class = "responsive-img" ></a>
                        <p class = "projDesc"> This is a search app using Marvel Comics's RESTful API to pull all events shared between two comic book characters. It uses jQuery for most of its DOM manipulation and as well for AJAX calls.</p>
            </div>
            </div>
                   
            </div>

            <div class="col-md-6 col-md-offset-3  col-xs-12 text-center">
                <div class="desc" id = "santaStuff">
                    <div class="wow fadeInLeft" data-wow-delay= ".50s" id= "second">
                    <h3 class = "ProjTitle"> KittyWars</h3>
                <a href="https://github.com/jeremygholland/kittyWars"> <img src="images/kittyWars.png" class = "responsive-img" ></a>
                    <p class = "projDesc"> A trading game in which the player will travel and trade in kitten based wares, including catnip and scratching posts, to accumulate more Cheezeburgers. This MVC game utilizes AngularJS to provide javascript functionality and AngularFire as a backend database and authentication services.</p>
                </div>

            </div>
            </div>
            </div>
        </div>
