
<div class="resume">
	

                        <div class="experience , wow fadeIn">
                        <ul><h1>Experience</h1>
                            <div class=" textLang" data-wow-delay = ".25s">
                            <ul>
                                <div></div>
                                <h3>Apple, Inc.                 <span class = "date">August 2011 – Present</span></h3>
                                    <h4>iTunes Provider Support Advisor</h4> <br>
                                    <p> Chosen to be a part of the inaugural iBookstore Publisher Support team. Provided superior support to third-party content providers using the iOS and Mac OS X Platforms. Contributed to training efforts of newly hired team members. Ranked highly amongst peers in productivity throughout my time in this position. Effectively managed email and phone queues resulting in consistently high levels of partner satisfaction. </p>
                            </ul>
                            </div>

                             <div class=" textLang" data-wow-delay = ".25s">
                            <ul>
                                <h3>Telicon                     <span class = "date">December 2010 – July 2011</span></h3>
                                    <h4>Legislative Reporter</h4><br>
                                    <p>Documented record votes from the floor of the Texas Senate. Transferred amendments from the Senate Floor to Telicon's website in real time. Produced detailed committee reports. Managed coverage of hearings on the senate floor for 7 other reporters. Researched and organized Telicon’s legislative directory. Edited reports written by senate reporters.</p>
                            </ul>
                             </div>

                              <div class=" textLang" data-wow-delay = ".25s">
                            <ul>
                                <h3>Chris Turner Campaign       <span class = "date1">August 2010 – November 2010</span></h3>
                                    <h4>Financial Director</h4> <br>
                                    <p>Researched financial contributions from Political Action Committees to other campaigns throughout Texas during the previous five cycles. Organized detailed reports aiding in fundraising efforts. Supervised sensitive projects undertaken by volunteers.</p>
                            </ul>

                             </div>
                        </ul>
                        </div>
                        <div class="edu  , textLang" data-wow-delay= ".25s">
                        <ul>
                            <h1>Education</h1>
                        
                                <h3>University of Texas at Austin <span class="date2"> June 2006 - May 2010 </span></h3> 
                                <ul>
                                    <h5> B.A. Government</h5>
                                </ul>
                            </ul>
			</div>